#container {
    width: auto;
    margin: 0 auto;
    background-color: #8A9AF2
}
#header {
	background-color: #8A9AF2
}
#primary {
    float: left;
    width: 25%;
    height: 500px;
    background-color: #FAFA20
}

#content {
    float: left;
    width: 50%;
    height: 500px;
    background-color: #8A9AF2
}

#secondary {
    float: left;
    width: 25%;
    height: 500px;
    background-color: #FAFA20
}

#footer {
    clear: both;
    background-color: #8A9AF2
}

#hiddenSection {
    display: none;
}
